
benchmark/
configs/
data/
misc/
models/
pipelines/
scripts/
tests/
tools/
.env
.git/
.gitignore
.venv/
**/__pycache__
.python-version
CLAUDE.md
LICENSE
model_inference.py
pyproject.toml
README.md
uv.lock
