
pydantic==2.12.5
numpy==2.2.6
opencv-python==4.12.0.88
huggingface_hub==0.36.0
tesserocr==2.11.0
matplotlib==3.10.8
fastapi==0.128.0
safetensors==0.6.2
torch==2.12.1
transformers==4.57.6
uvicorn==0.40.0